<dict>
    <key>Earth</key>
    <dict>
        <key>CFBundleIconName</key>
        <string>Earth</string>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Mars</key>
    <dict>
        <key>CFBundleIconName</key>
        <string>Mars</string>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Moon</key>
    <dict>
        <key>CFBundleIconName</key>
        <string>Moon</string>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Neptune</key>
    <dict>
        <key>CFBundleIconName</key>
        <string>Neptune</string>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Saturn</key>
    <dict>
        <key>CFBundleIconName</key>
        <string>Saturn</string>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
    <key>Sun</key>
    <dict>
        <key>CFBundleIconName</key>
        <string>Sun</string>
        <key>UIPrerenderedIcon</key>
        <true/>
    </dict>
</dict>
